

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    margin-top: 50px;
    margin-bottom: 50px;
}

nav,ul{
    position: foxed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

ul{
    list-style-type: none;
    gap: 100px;
    font-size: 70px;
    
}

a{
    text-decoration: none;
    color: black;

}


.hero{
    display: flex;
    justify-content: space-around;
}

img{
    margin-right: 200px;
    width: 900px;
    height: 900px;
}

#description{
    font-size: 50px;
}

button{
    width: 300px;
    height: 70px;
    background-color:rgb(29, 29, 244);
    padding: 15px 25px;
    font-size: 30px;
    color: white;
    border-radius: 7px;
    border: none;
    margin-left: 250px;
}

.social{
    margin-top: 400px;
}

.about1{
    display: flex;
    justify-content: space-around;
    gap: 80px;
    
}
.about{
    text-align: center;
font-size: 50px;
color: blue;
}
p{
    font-size: 40px;
    padding-right:200px;
    margin-left:100px;
}
.imageabout{
    margin-left: 400px;
}

.proSkills{
    margin-left: 400px;
}



footer{
    background-color: green;
    text-align: center;
    align-content: center;
    height: 100px;
}

/* desktop */
@media screen and (max-width:1660px) {
    

    
}

/* tablet */
@media screen and (max-width:1024px) {
   
    
    
}

/* Mobile */
@media screen and (max-width:600px) {
    
    
}

#preloader{
    background: #000 url("https://www.dailyfreepsd.com/wp-content/uploads/2014/03/Circle-Animated-Loader-Gif-PSD.gif") no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;


}