


.parent{
    display: flex;
    min-height: 650px;
    background: rgb(243, 243, 243);
    width: 900px;
    padding: 40px;
    display: flex;
    margin-left: 240px;
    height: 900px;
    border: 2px black;
    box-shadow: 8px 8px 19px rgb(189, 179, 179), -8px -8px 9px rgb(189, 179, 179);
}

.child{
    
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-top: -800px;
    align-items: center;    
}

.icon{
    border: 2px solid rgb(255, 255, 255);
    width: 85px;
    height: 85px;
    border-radius:100%;
    font-size: 60px;
    box-shadow:8px 8px 16px rgb(190, 181, 181), -8px -8px 16px rgb(190, 181, 181);
    
}
button{
  width: 170px;
  height: 70px; 
  border-radius: 40px;
  border: 2px solid white;
  box-shadow:8px 8px 16px rgb(190, 181, 181);
}


